@model SmsWeb.Models.LoginCredentials

@{
    Layout = null;
}

<h1 class="page-header">Login</h1>

<form data-ng-submit="processLogin()">
    @Html.EditorForModel()

    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-flash btn-block"></span> Submit!
    </button>
</form>