<style>
.left-slide div{
  right:0;
}
.left-slide div.ng-enter{
  transition:0.5s linear all;
  position:fixed;
  z-index:inherit;
  right:-100%;
  height:inherit;
}
.left-slide div.ng-leave{
  transition:0.5s linear all;
  position:fixed;
  z-index:9999;
  left:0;
}
.left-slide div.ng-leave-active{
  transition:0.5s linear all;
  position:fixed;
  left:-100%;
  right:100%;
}
.left-slide div.ng-enter-active{
  transition:0.5s linear all;
  right:0;
  position:relative;
}

.right-slide div{
  left:0;
}
.right-slide div.ng-enter{
  transition:0.5s linear all;
  position:fixed;
  z-index:inherit;
  left:-100%;
  height:inherit;
}
.right-slide div.ng-leave{
  transition:0.5s linear all;
  position:fixed;
  z-index:9999;
  right:0;
}
.right-slide div.ng-leave-active{
  transition:0.5s linear all;
  position:fixed;
  right:-100%;
  left:100%;
}
.right-slide div.ng-enter-active{
  transition:0.5s linear all;
  left:0;
  position:relative;
}

body {
    background-image: url('/Content/bg2.jpg');
    
    background-attachment: fixed;
    background-size: auto 100%;
    background-position-x: 100%;
}

.page-header {
    color: lightgray;
}

</style>

@section scripts {
    @Scripts.Render("~/scripts/jquery.signalr-2.1.1.min.js")
    @Scripts.Render("~/signalr/hubs")

     <script type="text/javascript">
         var routes = {
             'mainController': 100,
             'sendController': 75,
             'inboxController': 50
         };

         var smsApp = angular.module('smsApp', ['ngRoute', 'ngAnimate']).run(function ($rootScope, $route) {
             $rootScope.$on('$routeChangeStart', function(event, next, current) {

                 if (current !== undefined) {
                     var pos = routes[next['$$route'].controller];

                     $('body').animate({
                         'background-position': pos + '%'
                     }, 500, 'linear');
                 }

                 if (current === undefined || routes[next['$$route'].controller] < routes[current['$$route'].controller]) {
                     $('#main').addClass('left-slide');
                     $('#main').removeClass('right-slide');
                 } else {
                     $('#main').addClass('right-slide');
                     $('#main').removeClass('left-slide');
                 }
             });
         });

         smsApp.config(function($routeProvider) {
             $routeProvider
                 .when('/', {
                     templateUrl: 'Home/Home',
                     controller: 'mainController'
                 })
                 .when('/login', {
                     templateUrl: 'Login',
                     controller: 'loginController'
                 })
                 .when('/send', {
                     templateUrl: 'Send',
                     controller: 'sendController'
                 })
                 .when('/inbox', {
                     templateUrl: 'Inbox',
                     controller: 'inboxController'
                 });
         });

         smsApp.controller('mainController', function($scope) {
             $scope.message = 'Everyone come and see how good I look!';
         });

         smsApp.controller('loginController', function($scope, $http) {
             $scope.credentials = {
                 username: $('#username').val(),
                 password: $('#password').val()
             };

             $scope.processLogin = function() {
                 $http({
                         method: 'POST',
                         url: '@Url.Action("Auth", "Login")',
                         data: $scope.credentials,
                         headers: { 'Content-Type': 'application/json' }
                     })
                     .success(function(data) {
                         if (data.Success) {
                             window.location.href = '/';
                         }
                     });
             };
         });

         smsApp.controller('sendController', [
             '$scope', '$http', '$location', 'accountDetailsFactory', function($scope, $http, $location, details) {
                 $scope.accounts = [];

                 $scope.message = {
                     accountreference: '',
                     from: '',
                     to: '',
                     body: ''
                 };

                 $scope.sendMessage = function() {
                     $http.post('Send/Send', $scope.message)
                         .success(function(data) {
                             $location.path('/');
                         });
                 }

                 details.success(function(data) {
                     for (var i in data.Accounts) {
                         $scope.accounts.push(data.Accounts[i]);
                     }
                     console.log(data);
                 });
             }
         ]);

         smsApp.controller('inboxController', [
             '$scope', 'inboxService', function($scope, inbox) {
                 inbox.then(function(data) {
                     console.log(data);
                     $scope.messages = data.data;
                 });

                 $scope.transformDate = function(dateString) {
                     return new Date(dateString.substring(0, dateString.indexOf('.')) + dateString.substring(dateString.length - 1)).toLocaleString();
                 };

                 var inboxHub = $.connection.inboxHub;

                 inboxHub.client.doStuff = function () {
                     console.log("Do Stuff!!");
                 };

                 $.connection.hub.start().done(function () {
                     inboxHub.server.send("Test");
                 });
             }
         ]);

         smsApp.factory("accountDetailsFactory", function($http) {
             return $http.get('Account/Details', { cache: true });
         });

         smsApp.service('inboxService', function($http) {
             return $http.get('Inbox/Messages');
         });
     </script>
 }

<div ng-view id="view"></div>

